body
{
	background-color: black !important;
}

.topbalk
{
	background-color: white;
	height: 110px;
	text-align: center;
	position: static;
}

.content
{
	height: 650px;
	vertical-align: middle;
	background-color: white;
}

.logo
{
	height: 110px;
	background-color: white;
}

.menu
{
	background-color: white;
	height: 110px;
}

.inlog
{
	height: 110px;
	padding-top: 20%;
}

ul> li> a
{
	padding-top: 20%;
	color: black;
	font-size: 150%;
	height: 110px;
	display:block;
}

img
{
	width: 100%;
	height: 100%;
}

.inloginput
{
	width: 300px !important;
	margin-top: 10px;
	float: left;
	margin-right: 5px;

}
.logbtn
{
	margin-top: 10px;
	width: 100px !important;
	float: left;
}
.todo
{
	margin-top: 12px;
}
.lol
{
	width: 200px !important;
	float: right !important;
}